name: catalog-ci-job
on: push  
       
jobs: 
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      JF_URL: ${{ secrets.JF_URL }}
      JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      MODULE_NAME: "pythonExample"
      SERVER_ID: "rtsaas"
      REPO: "auth-python-virtual"
          
    steps:
    - name: Checkout the repository    
      uses: actions/checkout@v4
    - name: Setup JFrog CLI 
      uses: jfrog/setup-jfrog-cli@v4
    - name: JFrog CLI config
      run: jf c add $SERVER_ID --url=$JF_URL --access-token=$JF_ACCESS_TOKEN --interactive=false
    - name: Ping JFrog CLI
      run: jf rt ping --server-id=$SERVER_ID
    - name: configure jfrog environment with pypi repository
      run: | 
        jf pipc --server-id-resolve=$SERVER_ID --repo-resolve=$REPO

    - name: "Curation: audit" # https://docs.jfrog-applications.jfrog.io/jfrog-applications/jfrog-cli/cli-for-jfrog-security/cli-for-jfrog-curation
      run: |
          jf ca --format=table --threads=100
    - name: Run Python build and publish
      run: |
        python3 -m pip install --upgrade pip setuptools wheel sigstore
        wheel -h
        pip show setuptools
        echo $VIRTUAL_ENV
        
        # Build the python project
        jf pip install -r requirements.txt --module=$MODULE_NAME 
    
        # Package the project, create distribution archives (tar.gz and whl):
        python3 setup.py sdist bdist_wheel
       
        # cd dist && echo "hashes=$(sha256sum * | base64 -w0)" >> $GITHUB_OUTPUT
        jf rt u dist/ $REPO/pypi/ --module=$MODULE_NAME 
          
    - name: Publish Build-info to RT
      run: |
        # Add env vars
        jf rt bce
        # Collect VCS details from git and add them to the build
        jf rt bag
        #Publish build-info
        jf rt bp
            
    - name: Build Scan
      run: |
        jf bs --fail=false --vuln
